@font-face {
    font-family: Avenir;
    src: url(../assets/Avenir.ttc);
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 10px;
    width: 100%;
    
}

.img {
    height: 70px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
}

.logonav{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: SDDystopianDemo ;
  font-size: 25px;

  justify-content: center;
}
.navcyber{
  font-family: modern;
}
.navbilliken{
  padding-left: 2px;
}
.navelements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-family: Avenir;

}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    
    color:white;
    padding: 10px 0px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}


.nav-link:hover {
    opacity: 1;
    color: white;
    
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ffffff;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }

  .nav-link-ltr.active::before {
    width: 100%;
    font-weight: 900;
  }
  


.ctfd {
  display: flex;
  flex-direction: row;
    padding: 10px 10px;
    border-radius: 5px; /* Add border radius for rounded corners */
    color: #fff; /* Change text color as needed */
    font-weight: bold;
    background-color: #003DA5;
    margin: 30px;
    font-family: Avenir;
    stroke: #28294D;
    font-size: 20px;

}
.ctfd:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}



@media (min-width: 768px) and (max-width: 1024px){
 
  .navelements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    font-family: Avenir;

}

}

